In [1]:
# CH 7: Reading Tabular Data into DataFrames

In [2]:
# Objectives:# 
#    Explain why programs need collections of values.
#    Write programs that create flat lists, index them, slice them, 
#    and modify them through assignment and method calls.

In [3]:
# In CH 13, we reviewed conditionals with a single variable. 
# What if we were trying to classify or identify patients out of a 
# much larger data set of several thousand patients?
# this would be easier if we had a list of 1000 elements

In [4]:
systolic = [130, 120, 115, 125, 88, 118, 140, 160, 138, 110]

In [5]:
# to get the length of a list, use len(), like we did with strings earlier
len(systolic)

10

In [6]:
# to get a single element, use the index.
# python (and most programming languages) count from zero
# so the first element of the list will have index zero

In [7]:
systolic[0]

130

In [8]:
# the fift element will have index 4 (count 0, 1, 2, 3, 4)
systolic[4]

88

In [9]:
# list slicing
# you can retrieve a subsection of a list from one index to another.

In [10]:
# notice this is from the first element to the second,. *to*, not *through*. 
# we will retrieve element 2, 3, 4, 5... but not element 6
systolic[2:6]

[115, 125, 88, 118]

In [11]:
# to go from the beginning, you can use 0 or just leave it blank
systolic[:4]

[130, 120, 115, 125]

In [12]:
# same for the end
systolic[2:]

[115, 125, 88, 118, 140, 160, 138, 110]

In [13]:
# you can also count backwards. -1 means the first element from the end of the list. there is no -0 ;)

In [14]:
systolic[-1]

110

In [15]:
systolic[-2]

138

In [16]:
# and you can use these elements together to get a subsection of your list
systolic[2:-2]

[115, 125, 88, 118, 140, 160]

In [17]:
# removing from and adding to a list
# to remove an element from a list

In [18]:
# adding to a list
# appending
systolic.append(151)
print(len(systolic))
print(systolic)

11
[130, 120, 115, 125, 88, 118, 140, 160, 138, 110, 151]

In [19]:
print(systolic[10])
del systolic[10]
#print(systolic[10])
print(systolic[9])

151
110

In [20]:
# you can also insert an element at a specific index
print(systolic)
systolic.insert(7,88)
print(systolic)

[130, 120, 115, 125, 88, 118, 140, 160, 138, 110]
[130, 120, 115, 125, 88, 118, 140, 88, 160, 138, 110]

In [21]:
del systolic[7]
print(systolic)

[130, 120, 115, 125, 88, 118, 140, 160, 138, 110]

In [22]:
# Strings and Lists

# you can access the characters in a string the same way you can access elements in a list
# but strings are immutable (more on that in a moment)

In [23]:
reading_type = "systolic"

In [24]:
len(reading_type)

8

In [25]:
reading_type[2:5]

'sto'

In [26]:
reading_type[-3:]

'lic'

In [27]:
# so how are strings and lists different?
# strings are immutable, meaning they can't be altered, only replaced
# lists can be altered.

In [28]:
# let's say the fifth systolic reading was an error, someone accidentally entered the diastolic reading of 88
# when the systolic was 122. Lists are mutable, so we can change that element
# remember, the fifth reading is index 4!

print(systolic[4])
systolic[4] = 122
print(systolic[4])

88
122

In [29]:
# you can't do this with a string.
# Let's try to replace a single character.
# We get an error message. You have to replace the entire string to change one character. 
reading_type[4] = 'z'

TypeError: 'str' object does not support item assignment

In [30]:
# As always, there is a way, if you're really determined.
# We can break the string into characters
reading_type = "systolic"
chars = list(reading_type)
chars

['s', 'y', 's', 't', 'o', 'l', 'i', 'c']

In [31]:
chars[4] = 'z'

In [32]:
chars

['s', 'y', 's', 't', 'z', 'l', 'i', 'c']

In [33]:
reading_type = ''.join(chars)

In [34]:
reading_type

'systzlic'